@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,600;1,700;1,800;1,900&display=swap');


.requirements-container{
    background-size: cover;
    background-color: #eaeaea;
    font-family: 'Poppins', sans-serif;
}
.active{
    background-color: #FFD600;
}
.requirements{
    padding: 10vh 5vw;
}
.requirements p{
    font-size: 20px;
    margin-bottom: 20px;;
    font-weight: 800;
}
.requirements ul li{
    line-height: 30px;
}
.requirements ul{
    padding-left: 50px;
}